// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
        theme: 'light',
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}

input:focus {
  outline: none !important;
  box-shadow: none !important;
}

// Sobrescribir codigo de tailwind
*,
:after,
:before,
::backdrop {
  border: 0;
}

.medium-form {
  @include mat.form-field-density(-3);
  @include mat.select-density(-3);
  @include mat.input-density(-3);

  // // Oculta el subscript wrapper (hints y errores)
  // .mat-mdc-form-field-subscript-wrapper {
  //   display: none;
  // }

  // // Ajuste opcional de altura mínima y padding
  // .mdc-text-field--outlined {
  //   height: 36px; // antes: ~56px
  // }

  // .mdc-text-field--outlined .mat-mdc-form-field-infix {
  //   padding: 4px 0; // ajusta verticalmente el texto
  // }

  // // Para selects, también reducimos padding
  // .mat-mdc-select .mat-mdc-select-trigger {
  //   min-height: 36px;
  //   padding: 4px 8px;
  // }
}

.small-form {
  @include mat.form-field-density(-6);
  @include mat.select-density(-6);
  @include mat.input-density(-6);

  // Oculta el subscript wrapper (hints y errores)
  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }

  // // Ajuste opcional de altura mínima y padding
  .mdc-text-field--outlined {
    height: 36px; // antes: ~56px
    padding: 6px 8px;
  }

  .mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding: 0; // ajusta verticalmente el texto
  }

  // Para selects, también reducimos padding
  .mat-mdc-select .mat-mdc-select-trigger {
    min-height: 18px;
    padding: 0px 4px;
  }
}

.custom-table {
  .mat-mdc-header-row {
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary);
  }
}

:root {
  @include mat.sidenav-overrides((
    container-background-color:var(--mat-sys-primary),
    container-text-color: var(--mat-sys-on-primary),
    container-shape: 0px,
    container-divider-color: transparent,
    container-elevation-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3)
  ));
}